[Unit]
Description=Run Domain Spoof Monitor Every 4 Hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=4h
Persistent=true

[Install]
WantedBy=timers.target
